<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
    <title>list</title>
</head>
<body>
<h1>Выберите вариант поиска:</h1>
<form>
    <li>
        <a href='/requests/request1'>Показать все сведения о товарах,поступивших на склад от заданной даты</a>
        <br>
    </li>
    <br>
    <li>
        <a href='/requests/request2'>Показать все сведения о заказах, сделанных за последниее время</a>
        <br>
    </li>
    <br>
    <li>
        <a href='/requests/request3'>Показать сколько заказов, сделанных за последние дни находятся в каждом из статусов</a>
        <br>
    </li>
    <br>
    <li>
        <a href='/requests/request4'>Показать сколько наименований товаров каждой категории хранится на складе</a>
        <br>
    </li>
    <br>
    <li>
        <a href='/requests/request5'>Показать общую стоимость неоплаченных заказов для каждого покупателя</a>
        <br>
    </li>
    <br>
    <li>
        <a href='/requests/request6'>Показать минимальную стоимость оплаченного заказа для каждого покупателя в заданном году</a>
        <br>
    </li>
    <br>
    <a href ='/'>Вернуться в начало</a>

</form>

</body>
</html>